[submodule "ActiveCaptainCommunitySDK/Sources/ActiveCaptainCommunitySDK/cpp/acdb"]
	path = ActiveCaptainCommunitySDK/Sources/ActiveCaptainCommunitySDK/cpp/acdb
	url = https://github.com/garmin/ActiveCaptainCommunitySDK-common.git
	branch = main
