[submodule "ActiveCaptainCommunitySDK/ActiveCaptainCommunitySDK/cpp/acdb"]
	path = ActiveCaptainCommunitySDK/ActiveCaptainCommunitySDK/cpp/acdb
	url = https://github.com/garmin/ActiveCaptainCommunitySDK-common.git
	branch = main
